In [1]:
import pandas as pd

## Preparing the dataframes

### 1. Homology consensus

In [2]:
# Load the homology_consensus dataframe

hc_df = pd.read_csv("homology_consensus.mjson", 
                                 names = ["Code", "Homology", "Regions", "Content_Fraction", "Content_Count"],
                                 on_bad_lines = 'skip')
hc_df.head()

,Code,Homology,Regions,Content_Fraction,Content_Count
0,"{""acc"": ""A0A009HC73""","""homology-conformational_diversity-merge"": {""...",308]],"""content_fraction"": 1.0","""content_count"": 308}}"
1,"{""acc"": ""A0A009I561""","""homology-conformational_diversity-merge"": {""...",308]],"""content_fraction"": 1.0","""content_count"": 308}}"
2,"{""acc"": ""A0A009IUT7""","""homology-conformational_diversity-merge"": {""...",308]],"""content_fraction"": 1.0","""content_count"": 308}}"
3,"{""acc"": ""A0A009KQW8""","""homology-conformational_diversity-merge"": {""...",304]],"""content_fraction"": 0.987","""content_count"": 304}}"
4,"{""acc"": ""A0A009MPB7""","""homology-conformational_diversity-merge"": {""...",308]],"""content_fraction"": 1.0","""content_count"": 308}}"

In [3]:
# Combine two accidentally splitted columns into one

hc_df['Regions'] = hc_df['Homology'] + hc_df['Regions']
hc_df.drop(columns = ['Homology', 'Content_Fraction', 'Content_Count'], inplace = True)
hc_df.head()

                   Code                                            Regions
0  {"acc": "A0A009HC73"   "homology-conformational_diversity-merge": {"...
1  {"acc": "A0A009I561"   "homology-conformational_diversity-merge": {"...
2  {"acc": "A0A009IUT7"   "homology-conformational_diversity-merge": {"...
3  {"acc": "A0A009KQW8"   "homology-conformational_diversity-merge": {"...
4  {"acc": "A0A009MPB7"   "homology-conformational_diversity-merge": {"...

In [4]:
# Remove the unnecessary information step by step
# Extract the access codes

hc_df[['_', 'acc']] = hc_df.Code.str.split(":", expand = True)
hc_df.drop(columns = ['_', 'Code'], inplace = True)
hc_df.head()

                                             Regions            acc
0   "homology-conformational_diversity-merge": {"...   "A0A009HC73"
1   "homology-conformational_diversity-merge": {"...   "A0A009I561"
2   "homology-conformational_diversity-merge": {"...   "A0A009IUT7"
3   "homology-conformational_diversity-merge": {"...   "A0A009KQW8"
4   "homology-conformational_diversity-merge": {"...   "A0A009MPB7"

In [5]:
# Extract the regions from the column

hc_df[['Homology', 'Regions']] = hc_df.Regions.str.split(': {"regions":', expand = True)
hc_df.head()

      Regions            acc                                    Homology
0   [[1 308]]   "A0A009HC73"   "homology-conformational_diversity-merge"
1   [[1 308]]   "A0A009I561"   "homology-conformational_diversity-merge"
2   [[1 308]]   "A0A009IUT7"   "homology-conformational_diversity-merge"
3   [[1 304]]   "A0A009KQW8"   "homology-conformational_diversity-merge"
4   [[1 308]]   "A0A009MPB7"   "homology-conformational_diversity-merge"

In [6]:
# Split Regions to start and end positions

hc_df[['start', 'end']] = hc_df.Regions.str.split(expand = True)
hc_df.drop(columns = ['Regions'], inplace = True)
hc_df.head()

             acc                                    Homology start    end
0   "A0A009HC73"   "homology-conformational_diversity-merge"   [[1  308]]
1   "A0A009I561"   "homology-conformational_diversity-merge"   [[1  308]]
2   "A0A009IUT7"   "homology-conformational_diversity-merge"   [[1  308]]
3   "A0A009KQW8"   "homology-conformational_diversity-merge"   [[1  304]]
4   "A0A009MPB7"   "homology-conformational_diversity-merge"   [[1  308]]

In [7]:
# Split Homology to Evidence, Feature and Source columns

hc_df[['evidence', 'feature', 'source']] = hc_df.Homology.str.split('-', expand = True)
hc_df.drop(columns = ['Homology'], inplace = True)
hc_df.head()

             acc start    end    evidence                   feature  source
0   "A0A009HC73"   [[1  308]]   "homology  conformational_diversity  merge"
1   "A0A009I561"   [[1  308]]   "homology  conformational_diversity  merge"
2   "A0A009IUT7"   [[1  308]]   "homology  conformational_diversity  merge"
3   "A0A009KQW8"   [[1  304]]   "homology  conformational_diversity  merge"
4   "A0A009MPB7"   [[1  308]]   "homology  conformational_diversity  merge"

In [8]:
# Dataframe preprocessing

hc_df['acc'] = hc_df['acc'].apply(lambda x: x.replace('"','').replace('',''))
hc_df['start'] = hc_df['start'].apply(lambda x: x.replace('[[','').replace('',''))
hc_df['end'] = hc_df['end'].apply(lambda x: x.replace(']]','').replace('',''))
hc_df['evidence']  = hc_df['evidence'].apply(lambda x: x.replace('"','').replace('',''))
hc_df['source'] = hc_df['source'].apply(lambda x: x.replace('"','').replace('',''))
hc_df.head()

           acc start  end   evidence                   feature source
0   A0A009HC73     1  308   homology  conformational_diversity  merge
1   A0A009I561     1  308   homology  conformational_diversity  merge
2   A0A009IUT7     1  308   homology  conformational_diversity  merge
3   A0A009KQW8     1  304   homology  conformational_diversity  merge
4   A0A009MPB7     1  308   homology  conformational_diversity  merge

In [9]:
# Choose only disordered regions

hc_dis = hc_df[hc_df['feature'] == 'disorder']
hc_dis

                acc start  end   evidence   feature source
121169   A0A010QT17   117  130   homology  disorder  merge
121170   A0A010R0B5     5  701   homology  disorder  merge
121171   A0A010RTY3   225  235   homology  disorder  merge
121172   A0A015L8C2   320  333   homology  disorder  merge
121173   A0A015NFB9   153  170   homology  disorder  merge
...             ...   ...  ...        ...       ...    ...
325800       X8JV07    17   38   homology  disorder  merge
325801       Z4YJH1    75  163   homology  disorder  merge
325802       Z4YJJ5   840  856   homology  disorder  merge
325803       Z4YKX0   359  373   homology  disorder  merge
325804       Z4YNI2   366  388   homology  disorder  merge

[204636 rows x 6 columns]

### 2. Homology

In [10]:
# Homology dataframe

hom = pd.read_csv("homology.mjson", 
                  names = ["Code", "Homology", "Regions", "Content_Fraction", "Content_Count", "Regions_IDs"], 
                  on_bad_lines = 'skip')
hom.head()

,Code,Homology,Regions,Content_Fraction,Content_Count,Regions_IDs
0,"{""acc"": ""A0A009HC73""","""homology-conformational_diversity-codnas"": {...",308]],"""content_fraction"": 1.0","""content_count"": 308","""regions_ids"": [""B2I1J3(5D8D_A)""]}}"
1,"{""acc"": ""A0A009I561""","""homology-conformational_diversity-codnas"": {...",308]],"""content_fraction"": 1.0","""content_count"": 308","""regions_ids"": [""B2I1J3(5D8D_A)""]}}"
2,"{""acc"": ""A0A009IUT7""","""homology-conformational_diversity-codnas"": {...",308]],"""content_fraction"": 1.0","""content_count"": 308","""regions_ids"": [""B2I1J3(5D8D_A)""]}}"
3,"{""acc"": ""A0A009KQW8""","""homology-conformational_diversity-codnas"": {...",304]],"""content_fraction"": 0.987","""content_count"": 304","""regions_ids"": [""B2I1J3(5D8D_A)""]}}"
4,"{""acc"": ""A0A009MPB7""","""homology-conformational_diversity-codnas"": {...",308]],"""content_fraction"": 1.0","""content_count"": 308","""regions_ids"": [""B2I1J3(5D8D_A)""]}}"

In [11]:
hom['Regions'] = hom['Homology'] + hom['Regions']
hom.drop(columns = ['Homology', 'Content_Fraction', 'Content_Count', 'Regions_IDs'], inplace = True)
hom.head()

                   Code                                            Regions
0  {"acc": "A0A009HC73"   "homology-conformational_diversity-codnas": {...
1  {"acc": "A0A009I561"   "homology-conformational_diversity-codnas": {...
2  {"acc": "A0A009IUT7"   "homology-conformational_diversity-codnas": {...
3  {"acc": "A0A009KQW8"   "homology-conformational_diversity-codnas": {...
4  {"acc": "A0A009MPB7"   "homology-conformational_diversity-codnas": {...

In [12]:
hom[['_', 'acc']] = hom.Code.str.split(":", expand = True)
hom.drop(columns = ['_', 'Code'], inplace = True)
hom.head()

                                             Regions            acc
0   "homology-conformational_diversity-codnas": {...   "A0A009HC73"
1   "homology-conformational_diversity-codnas": {...   "A0A009I561"
2   "homology-conformational_diversity-codnas": {...   "A0A009IUT7"
3   "homology-conformational_diversity-codnas": {...   "A0A009KQW8"
4   "homology-conformational_diversity-codnas": {...   "A0A009MPB7"

In [13]:
hom[['Homology', 'Regions']] = hom.Regions.str.split(': {"regions":', expand = True)
hom.head()

      Regions            acc                                     Homology
0   [[1 308]]   "A0A009HC73"   "homology-conformational_diversity-codnas"
1   [[1 308]]   "A0A009I561"   "homology-conformational_diversity-codnas"
2   [[1 308]]   "A0A009IUT7"   "homology-conformational_diversity-codnas"
3   [[1 304]]   "A0A009KQW8"   "homology-conformational_diversity-codnas"
4   [[1 308]]   "A0A009MPB7"   "homology-conformational_diversity-codnas"

In [14]:
hom[['start', 'end']] = hom.Regions.str.split(expand = True)
hom.drop(columns = ['Regions'], inplace = True)
hom.head()

             acc                                     Homology start    end
0   "A0A009HC73"   "homology-conformational_diversity-codnas"   [[1  308]]
1   "A0A009I561"   "homology-conformational_diversity-codnas"   [[1  308]]
2   "A0A009IUT7"   "homology-conformational_diversity-codnas"   [[1  308]]
3   "A0A009KQW8"   "homology-conformational_diversity-codnas"   [[1  304]]
4   "A0A009MPB7"   "homology-conformational_diversity-codnas"   [[1  308]]

In [15]:
hom[['evidence', 'feature', 'source']] = hom.Homology.str.split('-', expand = True)
hom.drop(columns = ['Homology'], inplace = True)
hom.head()

             acc start    end    evidence                   feature   source
0   "A0A009HC73"   [[1  308]]   "homology  conformational_diversity  codnas"
1   "A0A009I561"   [[1  308]]   "homology  conformational_diversity  codnas"
2   "A0A009IUT7"   [[1  308]]   "homology  conformational_diversity  codnas"
3   "A0A009KQW8"   [[1  304]]   "homology  conformational_diversity  codnas"
4   "A0A009MPB7"   [[1  308]]   "homology  conformational_diversity  codnas"

In [16]:
hom['acc'] = hom['acc'].apply(lambda x: x.replace('"','').replace('',''))
hom['start'] = hom['start'].apply(lambda x: x.replace('[[','').replace('',''))
hom['end'] = hom['end'].apply(lambda x: x.replace(']]','').replace('',''))
hom['evidence']  = hom['evidence'].apply(lambda x: x.replace('"','').replace('',''))
hom['source'] = hom['source'].apply(lambda x: x.replace('"','').replace('',''))
hom.head()

           acc start  end   evidence                   feature  source
0   A0A009HC73     1  308   homology  conformational_diversity  codnas
1   A0A009I561     1  308   homology  conformational_diversity  codnas
2   A0A009IUT7     1  308   homology  conformational_diversity  codnas
3   A0A009KQW8     1  304   homology  conformational_diversity  codnas
4   A0A009MPB7     1  308   homology  conformational_diversity  codnas

In [17]:
hom_dis = hom[hom['feature'] == 'disorder']
hom_dis

                acc start  end   evidence   feature   source
10       A0A010QT17   117  130   homology  disorder  disprot
12       A0A010R0B5     5  701   homology  disorder  disprot
15       A0A010RTY3   225  235   homology  disorder  disprot
31       A0A015L8C2   320  333   homology  disorder  disprot
33       A0A015NFB9   153  170   homology  disorder  disprot
...             ...   ...  ...        ...       ...      ...
623238       Z4YJH1    75  163   homology  disorder    ideal
623240       Z4YJJ5   840  856   homology  disorder  disprot
623243       Z4YKX0   359  373   homology  disorder  disprot
623245       Z4YNI2   366  388   homology  disorder  disprot
623246       Z4YNI2   366  388   homology  disorder    ideal

[240273 rows x 6 columns]

### 3. Homology conservation

In [68]:
hcons = pd.read_csv("homology_conservation.mjson", 
                                 #names = ["Code", "Homology", "Regions", "Content_Fraction", "Content_Count"],
                                 on_bad_lines = 'skip')
hcons.head()

/var/folders/lp/74jh9r6s4zx_dyg2_78l67dw0000gn/T/ipykernel_7259/1745534999.py:1: DtypeWarning: Columns (63,64,65,66,67,72,73,74,85,86,87,88,98,99,102,103,104,105,106,107,108,109,112,113,114,115,119,120,124,125,126,127,128,129,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,158,159,162,163,164,165,168,169,170,171,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,192,193,194,195,196,197,198,199,202,203,204,205,206,207,208,209,210,211,212,213,214,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,276,277,278,279,280,281,282,283,284,285,286,287,288,289,291,292,293,294,295,296,297,298,300,301,302,303,304,305,306,307,309,310,312,313,315,316,317,318,319,321,322,324,325,326,327,328,329,330,331,333,334,335,336,337,338,339,340,342,343,345,346,348,349,351,352,353,354,355,356,357,358,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,384,385,386,387,388,389,390,391,392,393,394,396,397,399,400,401,402,403,404,405,406,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,429,430,431,432,433,435,436,437,438,439,440,441,442,444,445,447,448,449,450,451,452,453,454,455,456,457,459,460,461,462,463,464,465,466,467,468,469,471,472,473,474,475,476,477,478,480,481,482,483,484,486,487,488,489,490,492,493,494,495,496,497,498,499,500,501,502,503,504,505,507,508,509,510,511,512,513,514,516,517,518,519,520,522,523,524,525,526,528,529,530,531,532,533,534,535,536,537,538,540,541,543,544,545,546,547,548,549,550,552,553,554,555,556,557,558,559,560,561,562,563,564,565,567,568,569,570,571,572,573,574,575,576,577,579,580,582,583,584,585,586,588,589,590,591,592,593,594,595,597,598,600,601,602,603,604,605,606,607,608,609,612,613,615,616,617,618,619,621,622,624,625,627,628,630,631,632,633,634,635,636,637,638,639,640,642,643,645,646,648,649,651,652,653,654,655,657,658,660,661,662,663,664,666,667,668,669,670,672,673,675,676,677,678,679,681,682,684,685,686,687,688,690,691,693,694,695,696,697,699,700,702,703,704,705,706,707,708,709,711,712,714,715,716,717,718,720,721,722,723,724,725,726,727,729,730,732,733,735,736,738,739,740,741,742,744,745,746,747,748,749,750,751,752,753,754,756,757,759,760,761,762,763,765,766,768,769,770,771,772,773,774,775,777,778,780,781,783,784,786,787,789,790,791,792,793,794,795,796,797,798,799,800,801,802,804,805,807,808,809,810,811,813,814,816,817,818,819,820,821,822,823,828,829,831,832,834,835,836,837,838,839,840,841,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,864,865,867,868,869,870,871,872,873,874,876,877,878,879,880,882,883,885,886,888,889,891,892,894,895,896,897,898,899,900,901,903,904,906,907,908,909,910,912,913,915,916,918,919,921,922,924,925,927,928,929,930,931,932,933,936,937,939,940,942,943,944,945,946,948,949,951,952,953,954,955,957,958,960,961,963,964,965,966,967,969,970,972,973,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,996,997,999,1000,1002,1003,1004,1005,1006,1008,1009,1011,1012,1014,1015,1016,1017,1018,1020,1021,1023,1024,1025,1026,1027,1029,1030,1032,1033,1035,1036,1038,1039,1041,1042,1044,1045,1047,1048,1049,1050,1051,1053,1054,1056,1057,1059,1060,1061,1062,1063,1064,1065,1066,1068,1069,1070,1071,1072,1073,1074,1075,1077,1078,1080,1081,1082,1083,1084,1086,1087,1089,1090,1092,1093,1094,1095,1096,1097,1098,1099,1101,1102,1104,1105,1107,1108,1110,1111,1112,1113,1114,1116,1117,1119,1120,1122,1123,1124,1125,1126,1128,1129,1131,1132,1134,1135,1137,1138,1140,1141,1143,1144,1146,1147,1149,1150,1151,1152,1153,1155,1156,1158,1159,1161,1162,1164,1165,1167,1168,1169,1170,1171,1173,1174,1176,1177,1179,1180,1181,1182,1183,1184,1185,1186,1188,1189,1191,1192,1194,1195,1197,1198,1200,1201,1203,1204,1205,1206,1207,1209,1210,1212,1213,1215,1216,1217,1218,1219,1221,1222,1224,1225,1230,1231,1232,1233,1234,1236,1237,1239,1240,1242,1243,1245,1246,1248,1249,1251,1252,1254,1255,1257,1258,1260,1261,1262,1263,1264,1265,1266,1267,1269,1270,1272,1273,1275,1276,1277,1278,1279,1281,1282,1284,1285,1287,1288,1290,1291,1293,1294,1296,1297,1299,1300,1301,1302,1303,1305,1306,1308,1309,1311,1312,1314,1315,1317,1318,1320,1321,1323,1324,1325,1326,1327,1329,1330,1332,1333,1335,1336,1338,1339,1341,1342,1344,1345,1347,1348,1350,1351,1352,1353,1354,1356,1357,1359,1360,1362,1363,1365,1366,1368,1369,1371,1372,1373,1374,1375,1377,1378,1380,1381,1383,1384,1386,1387,1389,1390,1391,1392,1393,1395,1396,1398,1399,1401,1402,1404,1405,1407,1408,1409,1410,1411,1412,1413,1414,1416,1417,1418,1419,1420,1422,1423,1425,1426,1428,1429,1431,1432,1433,1434,1435,1437,1438,1440,1441,1443,1444,1445,1446,1447,1449,1450,1452,1453,1455,1456,1458,1459,1461,1462,1464,1465,1467,1468,1470,1471,1473,1474,1476,1477,1479,1480,1482,1483,1485,1486,1488,1489,1491,1492,1493,1494,1495,1496,1497,1498,1500,1501,1503,1504,1506,1507,1509,1510,1511,1512,1513,1515,1516,1518,1519,1520,1521,1522,1524,1525,1527,1528,1530,1531,1533,1534,1536,1537,1539,1540,1541,1542,1543,1545,1546,1548,1549,1551,1552,1554,1555,1557,1558,1560,1561,1563,1564,1566,1567,1569,1570,1572,1573,1575,1576,1578,1579,1580,1581,1584,1585,1587,1588,1589,1590,1591,1592,1593,1594,1596,1597,1599,1600,1601,1602,1603,1605,1606,1608,1609,1611,1612,1614,1615,1616,1617,1618,1620,1621,1626,1627,1629,1630,1632,1633,1634,1635,1636,1638,1639,1641,1642,1644,1645,1647,1648,1653,1654,1655,1656,1657,1659,1660,1662,1663,1665,1666,1668,1669,1671,1672,1674,1675,1676,1677,1678,1680,1681,1683,1684,1686,1687,1688,1689,1692,1693,1695,1696,1698,1699,1700,1701,1702,1704,1705,1707,1708,1709,1710,1711,1712,1713,1714,1716,1717,1718,1719,1720,1722,1723,1724,1725,1726,1728,1729,1731,1732,1733,1734,1735,1736,1737,1738,1739,1740,1741,1743,1744,1745,1746,1747,1749,1750,1752,1753,1755,1756,1757,1758,1759,1764,1765,1767,1768,1770,1771,1773,1774,1776,1777,1779,1780,1781,1782,1783,1785,1786,1788,1789,1791,1792,1793,1794,1795,1797,1798,1799,1800,1801,1803,1804,1806,1807,1809,1810,1812,1813,1815,1816,1818,1819,1821,1822,1823,1824,1825,1827,1828,1830,1831,1833,1834,1836,1837,1842,1843,1845,1846,1848,1849,1854,1855,1857,1858,1860,1861,1863,1864,1866,1867,1869,1870,1872,1873,1875,1876,1878,1879,1881,1882,1884,1885,1886,1887,1888,1889,1890,1891,1893,1894,1896,1897,1899,1900,1902,1903,1905,1906,1908,1909,1911,1912,1914,1915,1917,1918,1920,1921,1923,1924,1926,1927,1929,1930,1932,1933,1935,1936,1938,1939,1941,1942,1944,1945,1947,1948,1950,1951,1953,1954,1956,1957,1959,1960,1961,1962,1963,1964,1965,1966,1968,1969,1971,1972,1974,1975,1977,1978,1980,1981,1986,1987,1989,1990,1992,1993,1995,1996,1998,1999,2001,2002,2003,2004,2005,2007,2008,2009,2010,2011,2016,2017,2019,2020,2022,2023,2025,2026,2028,2029,2031,2032,2034,2035,2040,2041,2043,2044,2046,2047,2049,2050,2052,2053,2055,2056,2058,2059,2061,2062,2063,2064,2065,2067,2068,2070,2071,2073,2074,2076,2077,2079,2080,2082,2083,2085,2086,2088,2089,2091,2092,2094,2095,2097,2098,2100,2101,2103,2104,2106,2107,2112,2113,2115,2116,2118,2119,2121,2122,2124,2125,2127,2128,2130,2131,2133,2134,2136,2137,2139,2140,2142,2143,2144,2145,2146,2148,2149,2151,2152,2154,2155,2157,2158,2160,2161,2163,2164,2165,2166,2167,2169,2170,2172,2173,2175,2176,2178,2179,2181,2182,2184,2185,2187,2188,2189,2190,2191,2192,2193,2196,2197,2199,2200,2202,2203,2205,2206,2208,2209,2211,2212,2214,2215,2217,2218,2220,2221,2223,2224,2225,2226,2227,2229,2230,2232,2233,2235,2236,2238,2239,2241,2242,2244,2245,2250,2251,2256,2257,2259,2260,2262,2263,2265,2266,2268,2269,2271,2272,2274,2275,2277,2278,2280,2281,2286,2287,2289,2290,2292,2293,2295,2296,2298,2299,2304,2305,2306,2307,2308,2310,2311,2313,2314,2316,2317,2319,2320,2322,2323,2325,2326,2328,2329,2331,2332,2334,2335,2337,2338,2340,2341,2343,2344,2346,2347,2349,2350,2352,2353,2355,2356,2358,2359,2361,2362,2364,2365,2367,2368,2370,2371,2376,2377,2379,2380,2382,2383,2385,2386,2388,2389,2391,2392,2394,2395,2400,2401,2403,2404,2406,2407,2409,2410,2412,2413,2415,2416,2418,2419,2421,2422,2424,2425,2430,2431,2436,2437,2439,2440,2442,2443,2448,2449,2451,2452,2457,2458,2460,2461,2462,2463,2464,2466,2467,2469,2470,2472,2473,2475,2476,2478,2479,2481,2482,2484,2485,2488,2489,2490,2491,2493,2494,2496,2497,2499,2500,2502,2503,2505,2506,2508,2509,2511,2512,2514,2515,2517,2518,2520,2521,2524,2525,2526,2527,2529,2530,2532,2533,2535,2536,2538,2539,2541,2542,2544,2545,2547,2548,2550,2551,2553,2554,2556,2557,2559,2560,2562,2563,2565,2566,2568,2569,2574,2575,2577,2578,2580,2581,2583,2584,2586,2587,2589,2590,2592,2593,2595,2596,2598,2599,2600,2601,2602,2604,2605,2607,2608,2610,2611,2616,2617,2619,2620,2622,2623,2625,2626,2628,2629,2634,2635,2637,2638,2640,2641,2646,2647,2648,2649,2650,2652,2653,2655,2656,2658,2659,2661,2662,2664,2665,2670,2671,2673,2674,2676,2677,2679,2680,2682,2683,2685,2686,2688,2689,2691,2692,2694,2695,2697,2698,2700,2701,2703,2704,2706,2707,2709,2710,2712,2713,2715,2716,2718,2719,2724,2725,2727,2728,2730,2731,2733,2734,2736,2737) have mixed types. Specify dtype option on import or set low_memory=False.
  hcons = pd.read_csv("homology_conservation.mjson",

,"{""acc"": ""Q9Y6K1""","""homology-msa_information_content-psiblast"": {""scores"": [4.322663625340791",4.27294936775308,4.227139107017728,4.161343719214743,4.171520449077236,4.117666639132671,4.087438739916795,4.052685731012853,4.052122081893202,...,0.608.1,0.601,0.521.6,0.492.1,0.408.1,0.327,0.303,0.175,0.07]},"""msa_consensus"": ""MPAMPSSGPVDTSSSSPKREDDRKEGEESEEPLNKEEVREPSTPARKVGRPGKKRKSPVVKSYSTPQGKGLVVKIPSRVHGSEPSQALPNGDLESSSGNSSEEGSEESVLKNGAPSDSESSSPPLPEASRSVENGSSTPEEGLGKPSEKSEESSDSSEDSTKSEGSEGRLRGGSGWESSLRQRPSPRSTFQAGDPYEVSKRKREEDLASWKREAEKKAKSSSSSNEVEESSSSGSSQKSEEASDPSVSQPTDPASPTVATTPEPVGSESLDKNSPKKAVDECEYEDGRGFGVGDLVWGKIKGFPWWPGRIVSWSDASRRRAAEGTRWVAWFGDGKFSWVDPSKLKPFSEFFKAFSKQT-KKSGSYRKAIYEALEEASRRAGKGFPC-C----SDPGKSLEYQNKDMLDWALGGFQPSGPKGLKPPEEEPNPYKEVVTESAVEPEAADYLPPPPAKKKRKNTAKKPKVKEIIDERTRERLVYEVRQKKRNIEDICLSCGSQNVVLEHPLFEGGLCKKCKDFYLEGAYSYDDDGYQSYCTWCCEGGELLCCDN-NCCRCFCKKCILVLVGRGAAAPIEEEEPWLCYMCNPKRL-GLLRRRDDWKSRLQSFFVNNVAQEFSPPKVYPP-PAE-RRPIRVLSLFDGIGGGRLALERLGI-VECVFASEIDEDAIRVYRANHGGNIIYVGDIRKITAKDIPEWGPFDLLIGGSPCQDLSIAGPARKGLEDGRGRLFFEFYRILKELRPKE----P-FFLFENVAGMPSHDKGDISRFLEVEPVVLDAKDFGPQHRARLFWGNLPGMNRPLPAPLPDKLELQDCLETGRTAKVEKVRTITTRSNSIPQGKDQLFPVDMNGKPRLLWPRECERLQGFPDHYTDVGNVSRTQRYKLLGNSWSVPVIRHLLSPLKDYFACV""}"
0,"{""acc"": ""S7W634""","""homology-msa_information_content-psiblast"": ...",4.307196,4.290296,4.291665,4.284301,4.281782,4.264646,4.265654,4.253740,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"{""acc"": ""S6B291""","""homology-msa_information_content-psiblast"": ...",3.193872,3.133234,3.074398,3.142933,2.965978,3.162166,3.176524,3.274977,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"{""acc"": ""Q9Z2F5""","""homology-msa_information_content-psiblast"": ...",3.800589,3.764650,3.711119,3.880610,3.667926,3.645686,3.623107,3.415641,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"{""acc"": ""A0A024RAV5""","""homology-msa_information_content-psiblast"": ...",3.031827,3.462032,3.708812,4.020194,3.372382,3.652497,3.550122,3.490848,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"{""acc"": ""A1L1Q4""","""homology-msa_information_content-psiblast"": ...",4.172194,4.080723,4.025939,3.971284,3.922919,3.873147,3.846846,3.844121,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
hcons = hcons.iloc[:, :2]
hcons.columns = ['Code', 'Regions']
hcons.head()

                   Code                                            Regions
0      {"acc": "S7W634"   "homology-msa_information_content-psiblast": ...
1      {"acc": "S6B291"   "homology-msa_information_content-psiblast": ...
2      {"acc": "Q9Z2F5"   "homology-msa_information_content-psiblast": ...
3  {"acc": "A0A024RAV5"   "homology-msa_information_content-psiblast": ...
4      {"acc": "A1L1Q4"   "homology-msa_information_content-psiblast": ...

In [70]:
hcons['Regions'].unique()

array([' "homology-msa_information_content-psiblast": {"scores": [4.309477168321852',
       ' "homology-msa_information_content-psiblast": {"scores": [3.9663497468939157',
       ' "homology-msa_information_content-psiblast": {"scores": [4.050572662407841',
       ...,
       ' "homology-msa_information_content-psiblast": {"scores": [4.216868789169694',
       ' "homology-msa_information_content-psiblast": {"scores": [4.211578075823008',
       ' "homology-msa_information_content-psiblast": {"scores": [3.695790536135261'],
      dtype=object)

In [60]:
hcons[['_', 'acc']] = hcons.Code.str.split(":", expand = True)
hcons.drop(columns = ['_', 'Code'], inplace = True)
hcons.head()

                                             Regions            acc
0   "homology-msa_information_content-psiblast": ...       "S7W634"
1   "homology-msa_information_content-psiblast": ...       "S6B291"
2   "homology-msa_information_content-psiblast": ...       "Q9Z2F5"
3   "homology-msa_information_content-psiblast": ...   "A0A024RAV5"
4   "homology-msa_information_content-psiblast": ...       "A1L1Q4"

In [61]:
hcons[['Homology', 'Regions']] = hcons.Regions.str.split(': {"scores":', expand = True)
hcons.drop(columns = ['Regions'], inplace = True)
hcons.head()

             acc                                      Homology
0       "S7W634"   "homology-msa_information_content-psiblast"
1       "S6B291"   "homology-msa_information_content-psiblast"
2       "Q9Z2F5"   "homology-msa_information_content-psiblast"
3   "A0A024RAV5"   "homology-msa_information_content-psiblast"
4       "A1L1Q4"   "homology-msa_information_content-psiblast"

In [62]:
hcons[['evidence', 'feature', 'source']] = hcons.Homology.str.split('-', expand = True)
hcons.drop(columns = ['Homology'], inplace = True)
hcons.head()

             acc    evidence                  feature     source
0       "S7W634"   "homology  msa_information_content  psiblast"
1       "S6B291"   "homology  msa_information_content  psiblast"
2       "Q9Z2F5"   "homology  msa_information_content  psiblast"
3   "A0A024RAV5"   "homology  msa_information_content  psiblast"
4       "A1L1Q4"   "homology  msa_information_content  psiblast"

In [63]:
hcons['acc'] = hcons['acc'].apply(lambda x: x.replace('"','').replace('',''))
hcons['evidence']  = hcons['evidence'].apply(lambda x: x.replace('"','').replace('',''))
hcons['source'] = hcons['source'].apply(lambda x: x.replace('"','').replace('',''))
hcons.head()

           acc   evidence                  feature    source
0       S7W634   homology  msa_information_content  psiblast
1       S6B291   homology  msa_information_content  psiblast
2       Q9Z2F5   homology  msa_information_content  psiblast
3   A0A024RAV5   homology  msa_information_content  psiblast
4       A1L1Q4   homology  msa_information_content  psiblast

In [64]:
hcons_dis = hcons[hcons['feature'] == 'disorder']
hcons_dis

Empty DataFrame
Columns: [acc, evidence, feature, source]
Index: []