In [1]:
# Importing the libraries
from functions import *

### Creating the dataframe of disordered regions

In [2]:
# Open XML file as a dataframe
input_file = '{}/databases/uniprot/curated_uniprot.fasta_75'.format(directory) # change the file name if necessary
df = blast_parser(input_file)
print(f"The number of instances: {len(df)}")
df.head(5)

The number of instances: 8656

,query_id,subject_id,query_len,hsp_len,query_seq,match_seq,subject_seq,query_start,query_end,subject_start,subject_end,identity,positive,gaps,eval,bit_score,count
0,Q16620,A0A2R9BM51,822,822,MSSWIRWHGPAMARLWGFCWLVVGFWRAAFACPTSCKCSASRIWCS...,MSSWIRWHGPAMARLWGFCWLVVGFWRAAFACPTSCKCSASRIWCS...,MSSWIRWHGPAMARLWGFCWLVVGFWRAAFACPTSCKCSASRIWCS...,1,822,1,822,822,822,0,0.0,4458.0,200
1,Q16620,A0A4X2LP40,822,824,MSSWIRWHGPAMARLWGFCWLVVGFWRAAFACPTSCKCSASRIWCS...,M SW + HGP MARL GFCWLV+ FWR + ACPTSC CS +RIWCS...,MLSWKKCHGPGMARLLGFCWLVLIFWRGSQACPTSCTCSTTRIWCS...,1,822,1,824,689,745,2,0.0,3749.0,200
2,Q16620,A0A4X2LDU8,822,822,MSSWIRWHGPAMARLWGFCWLVVGFWRAAFACPTSCKCSASRIWCS...,M SW + HGP MARL GFCWLV+ FWR + ACPTSC CS +RIWCS...,MLSWKKCHGPGMARLLGFCWLVLIFWRGSQACPTSCTCSTTRIWCS...,1,822,1,821,689,745,1,0.0,3756.0,200
3,Q16620,A0A6P5IKH1,822,824,MSSWIRWHGPAMARLWGFCWLVVGFWRAAFACPTSCKCSASRIWCS...,M SW + HGP MARL GFCWLV+ FWR + ACPTSC CS +RIWCS...,MLSWKKCHGPGMARLLGFCWLVLIFWRGSQACPTSCTCSTTRIWCS...,1,822,1,824,691,745,2,0.0,3764.0,200
4,Q16620,A0A7J7UQA2,822,741,TSCKCSASRIWCSDPSPGIVAFPRLEPNSVDPENITEIFIANQKRL...,+SCKCSASRIWCSDP PGI+AFPRLEPN++DPENITEI+IANQKRL...,SSCKCSASRIWCSDPIPGIMAFPRLEPNTIDPENITEIYIANQKRL...,34,774,2,739,710,724,3,0.0,3776.0,200

In [3]:
# Create a dataframe with Disprot instances from curated.mjson database
data = list()

with open('curated.mjson', 'r') as file:
    for line in file:
        obj = json.loads(line)
        rows = json_parser(obj)
        data.extend(rows)

curated_disprot = pd.DataFrame(data)

# Calculate the length of disordered regions
curated_disprot['length'] = curated_disprot['end'] - curated_disprot['start'] + 1
curated_disprot = curated_disprot[(curated_disprot['feature'] == 'disorder') & (curated_disprot['source'] == 'disprot')]
curated_disprot.to_csv("curated_disprot.csv", index=False)

print(f"The number of instances in the Curated Disprot database: {len(curated_disprot)}")
curated_disprot.head()

The number of instances in the Curated Disprot database: 3151

         acc evidence   feature   source  start  end  length
6927  P03265  curated  disorder  disprot    294  334      41
6928  P03265  curated  disorder  disprot    454  464      11
6929  P49913  curated  disorder  disprot    134  170      37
6930  P03045  curated  disorder  disprot      1  107     107
6931  P00004  curated  disorder  disprot      1  105     105

In [4]:
# Keep only disordered regions in the initial dataframe filtering with curated_disordered dataframe
disordered = df[df['query_id'].isin(curated_disprot['acc'])]
disordered.to_csv("disordered_df.csv", index=False)

print(f"The number of rows with the disordered regions: {len(disordered)}")
disordered.head(5)

The number of rows with the disordered regions: 2887

,query_id,subject_id,query_len,hsp_len,query_seq,match_seq,subject_seq,query_start,query_end,subject_start,subject_end,identity,positive,gaps,eval,bit_score,count
200,Q9H832,A0A6J2FM24,354,356,MAESPTEEAATA--GAGAAGPGASSVAGVVGVSGSGGGFGPPFLPD...,MAESPTEEAATA GAGAAGPGAS V GVVGVSGSG FGPPFLPD...,MAESPTEEAATATAGAGAAGPGASGVTGVVGVSGSG--FGPPFLPD...,1,354,1,354,350,350,4,0.0,1851.0,200
201,Q9H832,A0A3Q7W6Y2,354,356,MAESPTEEAATA--GAGAAGPGASSVAGVVGVSGSGGGFGPPFLPD...,MAESPTEEAATA GAGA GPGAS VAGVVGVSGSG FGPPFLPD...,MAESPTEEAATATAGAGATGPGASGVAGVVGVSGSG--FGPPFLPD...,1,354,1,354,350,350,4,0.0,1851.0,200
202,Q9H832,A0A2U3VK69,354,356,MAESPTEEAATA--GAGAAGPGASSVAGVVGVSGSGGGFGPPFLPD...,MAESPTEEAATA GAGAAGPGAS V GVVGVSGSG FGPPFLPD...,MAESPTEEAATATAGAGAAGPGASGVTGVVGVSGSG--FGPPFLPD...,1,354,1,354,350,350,4,0.0,1851.0,200
203,Q9H832,A0A2Y9JVH5,354,358,MAESPTEEAATA----GAGAAGPGASSVAGVVGVSGSGGGFGPPFL...,MAESPTEEAATA GAGAAGPGAS VAGVVGVSGSG FGPPFL...,MAESPTEEAATATATAGAGAAGPGASGVAGVVGVSGSG--FGPPFL...,1,354,1,356,351,351,6,0.0,1854.0,200
204,Q9H832,A0A8C7ALE4,354,358,MAESPTEEAATA----GAGAAGPGASSVAGVVGVSGSGGGFGPPFL...,MAESPTEEAATA GAGAAGPGAS VAGVVGVSGSG FGPPFL...,MAESPTEEAATATATAGAGAAGPGASGVAGVVGVSGSG--FGPPFL...,1,354,1,356,351,351,6,0.0,1854.0,200

In [5]:
# Dropdown list of Uniprot query IDs for disordered regions
output = widgets.Select(
    options=disordered["query_id"].unique(),
    rows=10,
    description='Uniprot ID: ',
    layout={'width': 'max-content'},
    disabled=False
)
display(output)

Select(description='Uniprot ID: ', layout=Layout(width='max-content'), options=('Q9H832', 'Q8IW19', 'Q99967', …

In [6]:
# Check if there are disordered regions for a particular query ID
id_dis = output.value
i = 1 # change to the necessary region
# store the same id for all notebooks
%store id_dis i
selected_dis = disordered[disordered["query_id"].isin([id_dis])]
selected_dis.head()

Stored 'id_dis' (str)
Stored 'i' (int)

,query_id,subject_id,query_len,hsp_len,query_seq,match_seq,subject_seq,query_start,query_end,subject_start,subject_end,identity,positive,gaps,eval,bit_score,count
200,Q9H832,A0A6J2FM24,354,356,MAESPTEEAATA--GAGAAGPGASSVAGVVGVSGSGGGFGPPFLPD...,MAESPTEEAATA GAGAAGPGAS V GVVGVSGSG FGPPFLPD...,MAESPTEEAATATAGAGAAGPGASGVTGVVGVSGSG--FGPPFLPD...,1,354,1,354,350,350,4,0.0,1851.0,200
201,Q9H832,A0A3Q7W6Y2,354,356,MAESPTEEAATA--GAGAAGPGASSVAGVVGVSGSGGGFGPPFLPD...,MAESPTEEAATA GAGA GPGAS VAGVVGVSGSG FGPPFLPD...,MAESPTEEAATATAGAGATGPGASGVAGVVGVSGSG--FGPPFLPD...,1,354,1,354,350,350,4,0.0,1851.0,200
202,Q9H832,A0A2U3VK69,354,356,MAESPTEEAATA--GAGAAGPGASSVAGVVGVSGSGGGFGPPFLPD...,MAESPTEEAATA GAGAAGPGAS V GVVGVSGSG FGPPFLPD...,MAESPTEEAATATAGAGAAGPGASGVTGVVGVSGSG--FGPPFLPD...,1,354,1,354,350,350,4,0.0,1851.0,200
203,Q9H832,A0A2Y9JVH5,354,358,MAESPTEEAATA----GAGAAGPGASSVAGVVGVSGSGGGFGPPFL...,MAESPTEEAATA GAGAAGPGAS VAGVVGVSGSG FGPPFL...,MAESPTEEAATATATAGAGAAGPGASGVAGVVGVSGSG--FGPPFL...,1,354,1,356,351,351,6,0.0,1854.0,200
204,Q9H832,A0A8C7ALE4,354,358,MAESPTEEAATA----GAGAAGPGASSVAGVVGVSGSGGGFGPPFL...,MAESPTEEAATA GAGAAGPGAS VAGVVGVSGSG FGPPFL...,MAESPTEEAATATATAGAGAAGPGASGVAGVVGVSGSG--FGPPFL...,1,354,1,356,351,351,6,0.0,1854.0,200

In [7]:
# Filter the curated_disprot dataframe based on selected ID
curated_query = curated_disprot[curated_disprot['acc'] == id_dis]
curated_query

         acc evidence   feature   source  start  end  length
7799  Q9H832  curated  disorder  disprot      1   99      99
7800  Q9H832  curated  disorder  disprot    327  354      28

## 1. Multiple Sequence Alignment

Within this framework, we will compare the MSA results obtained directly from the BLAST output with those generated from the ClustalOmega and MAFFT.

### 1.1.1 MSA from the BLAST output - for one alignment
This code iterates through each row of the dataframe for a previously selected query ID. If there is no gap, it maps the amino acid from the subject sequence to the corresponding position in the query sequence, starting from the beginning of the query sequence. The resulting mapped amino acids are then added to a new count. In the end we have a FASTA file with the subject IDs and the aligned sequences.

In [8]:
# # Retrieve a query sequence from query id using the local machine
# query_sequence = get_fasta(id_dis)
# query_lines = query_sequence.split("\n")
# query_sequence = "".join(query_lines[1:]) # its length will be used for building MSA
# query_len = len(query_sequence)
# print(id_dis, query_len, query_sequence)

In [10]:
# Retrieve query sequence and query length from the dataframe
query_sequence = disordered[disordered['query_id'] == id_dis]['query_seq'].unique()[0]
query_sequence = re.sub(r'[-]', '', query_sequence)
query_len = disordered[disordered['query_id'] == id_dis]['query_len'].unique()[0]
print(id_dis, query_len, query_sequence)

In [316]:
# # 1.1 Build the MSA from the BLAST - for one alignment
# out_file = f'{directory}/results/alignments/output_files/blast/{id_dis}_blast.fasta'

# with open(out_file, "w") as fout:
#     mapped_seq = ["-"] * query_len

#     # Write the header line for the query sequence
#     fout.write(">{}\n".format(id_dis))

#     # Map the query sequence to the mapped_seq list
#     c = 0
#     for l_q in query_sequence:
#         if l_q != " " and l_q != '-':
#             mapped_seq[c] = l_q
#             c += 1

#     # Write the query_mapped_seq sequence to the output file
#     fout.write("{}\n".format("".join(mapped_seq)))

#     # Map the subject sequences to the mapped_seq list and write to the output file
#     for index, row in selected_dis.iterrows():
#         c = 0
#         query_start = row['query_start']
#         for l_q, l_s in zip(row['query_seq'], row['subject_seq']):
#             if l_q != ' ' and l_q != '-': # if the initial aa from query is not empty or gapped
#                 mapped_seq[query_start + c - 1] = l_s if l_s != ' ' else '-' # assign aa to subject
#                 c += 1
#         fout.write(">{}\n{}\n".format(row["subject_id"], "".join(mapped_seq)))

### 1.1.2 MSA from the BLAST output - for multiple alignments

In [8]:
# Extract the data for the disordered regions
disprot_ids = disordered["query_id"].unique()

data = []

# Loop through disprot_ids
for i in disprot_ids:
    query_sequence = disordered[disordered['query_id'] == i]['query_seq'].unique()[0]
    query_sequence = re.sub(r'[-]', '', query_sequence)
    query_len = len(query_sequence)
    
    # Append the data to the list
    data.append([i, query_sequence, query_len])

In [9]:
# Create a dataframe of disprot sequences
disprot_sequences = pd.DataFrame(data, columns=['disprot_id', 'query_sequence', 'query_len'])
disprot_sequences[:10]

  disprot_id                                     query_sequence  query_len
0     Q9H832  MAESPTEEAATAGAGAAGPGASSVAGVVGVSGSGGGFGPPFLPDVW...        354
1     Q8IW19  MSGGFELQPRDGGPRVALAPGETVIGRGPLLGITDKRVSRRHAILE...        511
2     Q99967  MADHMMAMNHGRFPDGTNGLHHHPAHRMGMGQFPSPHHHQQQQPQH...        270
3     Q9CXY6  MRGDRGRGRGGRFGSRGGPGGGFRPFVPHIPFDFYLCEMAFPRVKP...        390
4     Q8R464  PLLLLWAAAAGPGTGQEVQTENVTVAEGGVAEITCRLHQYDGSIVV...        379
5     Q8K4J6  QSVLQLKLQQRRTREELVSQGIMPPLKSPAAFHEQRRSLERARTED...        951
6     Q9BYI3  MFTSEKGVVEEWLSEFKTLPETSLPNYATNLKDKSSLVSSLYKVIQ...        521
7     Q9BYF1  MSSSSWLLLSLVAVTAAQSTIEEQAKTFLDKFNHEAEDLFYQSSLA...        805
8     Q8WUG5  MASDPIFTLAPPLHCHYGAFPPNASGWEQPPNASGVSVASAALAAS...        538
9     Q9H0E2  QRGPVYIGELPQDFLRITPTQQQRQVQLDAQAAQQLQYGGAVGTVG...        267

In [11]:
# 1.2 Build the MSA from the BLAST - for all alignments
# Iterate through each row in the disprot_sequences 
for ind_q, row_q in disprot_sequences.iterrows():
    query_id = row_q['disprot_id']
    query_sequence = row_q['query_sequence']
    query_len = row_q['query_len']
    selected_dis = disordered[disordered["query_id"].isin([query_id])]
    print(ind_q, query_id, query_len, query_sequence[:3],"...", query_sequence[-3:])
    
    # Save the file
    out_file = f'{directory}/results/alignments/output_files/blast/{query_id}_blast.fasta'
    
    # Initialize the first row with a length of the query sequence
    with open(out_file, "w") as fout:
        mapped_seq = ["-"] * query_len

        # Write the header line for the query sequence
        fout.write(">{}\n".format(query_id))

        # Map the query sequence to the mapped_seq list
        c = 0
        for l_q in query_sequence:
            if l_q != ' ' and l_q != '-':
                mapped_seq[c] = l_q
                c += 1

        # Write the query_mapped_seq sequence to the output file
        fout.write("{}\n".format("".join(mapped_seq)))

        # Map the subject sequences to the mapped_seq list and write to the output file
        for index, row in selected_dis.iterrows():
            c = 0
            query_start = row['query_start']
            for l_q, l_s in zip(row['query_seq'], row['subject_seq']):
                if l_q != ' ' and l_q != '-': # if the initial aa from query is not empty or gapped
                    if query_start + c - 1 < len(mapped_seq): # added the condition
                        mapped_seq[query_start + c - 1] = l_s if l_s != ' ' else '-' # assign aa to subject
                        c += 1
            fout.write(">{}\n{}\n".format(row["subject_id"], "".join(mapped_seq)))

0 P00742 462 GES ... EVI
1 P01019 474 MAP ... PLS
2 O88339 575 MST ... FLL
3 O35274 817 MMK ... NST
4 P07342 651 YSS ... GKH
5 O15922 389 AGG ... RHP
6 O00308 870 MAS ... GQE
7 O14727 1248 MDA ... TLE
8 P00736 704 WLL ... EED
9 P00392 561 MTH ... CAG
10 O43474 504 MAV ... RHF
11 O43791 374 MSR ... KQS
12 J8TM36 277 MQK ... RSS
13 A1L1Q4 380 LSF ... MWR
14 A4L7I2 2474 MDS ... GPK
15 S7W634 812 TSE ... RHL
16 Q9Z2F5 430 MSG ... DQL
17 S6B291 416 YAM ... PGK
18 O14958 372 MKR ... INT
19 A8AZZ3 195 MKK ... AVK
20 P04370-5 169 MAS ... ARR
21 O00585 134 MAQ ... KGP
22 P01097 85 MLP ... MTK

### 1.2. MSA from the ClustalOmega, MAFFT

Initially, we need to preprocess the dataframe into a suitable input format file for ClustalOmega and MAFFT.

In [19]:
# # Retrieve the unaligned sequences from the local machine - for one sequence
# output_file = f'{directory}/results/alignments/input_files/{id_dis}_input.fasta'

# with open(output_file, 'w') as fout:
#     # Write the query sequence to the output file as the first line
#     fout.write(">{}\n{}\n".format(id_dis, query_sequence))

#     for index, row in selected_dis.iterrows():
#         accession = row['subject_id']
#         sequence = get_fasta(accession)
#         print(index, accession, len(sequence))
#         if id_dis == accession: # remove duplicates
#             continue
#         fout.write(sequence)

In [23]:
# # Retrieve the unaligned sequences from the local machine - for all disprot sequences at once
# for d_id, d_row in disprot_sequences.iterrows():
#     id_dis = d_row['disprot_id']
#     seq = d_row['query_sequence']
#     output_file = f'{directory}/results/alignments/input_files/{id_dis}_input_1.fasta'
    
#     # Iterating over selected_dis
#     with open(output_file, 'w') as fout:
#         selected_dis = disordered[disordered["query_id"].isin([id_dis])]
#         # Write the query sequence to the output file as the first line
#         fout.write(">{}\n{}\n".format(id_dis, seq))
#         print(id_dis, len(seq)) # correct

#         for index, row in selected_dis.iterrows():
#             accession = row['subject_id']
#             sequence = get_fasta(accession)
#             print(index, accession, len(sequence))
#             if id_dis == accession: # remove duplicates
#                 continue
#             fout.write(sequence)

After loading this file into ClustalOmega and MAFFT, we will choose the following parameters:
- Output format: Pearson/FASTA
- Order: input

Next, we will save the outputs in the corresponding directories. After that, we need to open the files in Jalview and remove gaps in the first line corresponding to the query Uniprot ID to maintain the correct length of sequences.
As a result, we have 3 alignments for comparison: BLAST, ClustalOmega and MAFFT.

### 1.3 Preparing the proteins for analysis

In [12]:
# Prepare all sequences for the following comparison
al_blast = f'{directory}/results/alignments/output_files/blast/{id_dis}_blast.fasta'
al_clustal = f'{directory}/results/alignments/output_files/clustal/{id_dis}_clustal.fasta'
al_mafft = f'{directory}/results/alignments/output_files/mafft/{id_dis}_mafft.fasta'

blast_seqs = get_seqs(al_blast)
clustal_seqs = get_seqs(al_clustal)
mafft_seqs = get_seqs(al_mafft)
%store blast_seqs clustal_seqs mafft_seqs

# The number of sequences may differ
blast_seqs.shape, clustal_seqs.shape, mafft_seqs.shape

Stored 'blast_seqs' (ndarray)
Stored 'clustal_seqs' (ndarray)
Stored 'mafft_seqs' (ndarray)

((201, 462), (199, 488), (199, 488))

### 1.4 Calculating and removing redundant regions from MSA
We will use CD-Hit tool. Given the aligned sequences as an input and setting the threshold of 62% we will keep only non-redundant regions in MSA.

In [98]:
# # Calculate redundancy 
# def calculate_Nf(msa_file, threshold, id_dis):

#     output_file = f"/Users/alina/HMM/results/alignments/input_files/non-redundant/Nf_{id_dis}.fasta"
#     cd_hit_path = "/Users/alina/cd-hit/cd-hit"

#     # Run CD-HIT to cluster the sequences (excluding the first line) and remove redundancy
#     cmd = f"{cd_hit_path} -i {msa_file} -o {output_file} -c {threshold} -n 4 > /dev/null"
#     subprocess.call(cmd, shell=True)

#     # Read the first line from the original MSA file
#     with open(msa_file, "r") as msa_handle:
#         first_record = next(SeqIO.parse(msa_handle, "fasta"))

#     # Temporarily store the non-redundant sequences in a list
#     non_redundant_sequences = []
#     with open(output_file, "r") as output_handle:
#         for record in SeqIO.parse(output_handle, "fasta"):
#             non_redundant_sequences.append(record)

#     # Write the non-redundant sequences to the output file
#     with open(output_file, "w") as final_handle:
#         SeqIO.write([first_record] + non_redundant_sequences, final_handle, "fasta")

#     # Count the number of sequences in the MSA and the non-redundant MSA
#     total_sequences = sum(1 for record in SeqIO.parse(msa_file, "fasta"))
#     non_redundant_sequences_count = len(non_redundant_sequences)

#     # Calculate the effective sequences (Nf)
#     Nf = non_redundant_sequences_count / total_sequences
#     print("The number of non-redundant sequences:", non_redundant_sequences_count)
#     print("The total number of sequences:", total_sequences)
#     print("The ratio of non-redundant sequences (Nf):", "{:.2f}".format(Nf))

#     return

In [99]:
# Calculate redundancy and the number of effective sequences with calculate_Nf function using the .fasta as an input
ali_file = f'{directory}/results/alignments/input_files/{id_dis}_input_1.fasta'
print(id_dis)
calculate_Nf(ali_file, 0.62, id_dis) 

# calculate_Nf(al_blast, 0.62, id_dis)
# calculate_Nf(al_clustal, 0.62, id_dis)
# calculate_Nf(al_mafft, 0.62, id_dis)

Q8R464
The number of non-redundant sequences: 2
The total number of sequences: 194
The ratio of non-redundant sequences (Nf): 0.01

In [21]:
# # Save the generated cluster file for the MSA notebook
# data_file = f"/Users/alina/HMM/results/alignments/input_files/non-redundant/Nf_{id_dis}.fasta.clstr"
# %store data_file

In [37]:
# Load non_redundant MSA from ClustalOmega
non_redundant = f'{directory}/results/alignments/output_files/clustal/non-redundant/Nf_{id_dis}_clustal.fasta'

nr_seqs = get_seqs(non_redundant)
%store nr_seqs

# Check the shape of non-redundant MSA
print(f"The shape of non-redundant MSA for {id_dis} protein:", nr_seqs.shape)
nr_seqs

Stored 'nr_seqs' (ndarray)
The shape of non-redundant MSA for Q9H832 protein: (3, 354)

array([['M', 'A', 'E', ..., 'L', 'R', 'V'],
       ['M', 'A', 'E', ..., 'L', 'R', 'V'],
       ['M', 'A', 'E', ..., 'S', 'H', 'S']], dtype='<U1')

### 1.5 Defining disordered regions in MSA

Here we will look at the positions of disordered regions in an alignment. Then we'll extract these regions for the separate analysis.

In [13]:
# Extract the lists of start and end regions
start_regions = curated_query['start'].tolist()
end_regions = curated_query['end'].tolist()
print(f"The lists of start and end positions of the {id_dis} disordered regions: \n"
      f"Start regions: {start_regions}, \n"
      f"End regions: {end_regions}")

The lists of start and end positions of the Q9H832 disordered regions:
Start regions: [1, 327],
End regions: [99, 354]

In [138]:
# # Trim disordered regions from MSA BLAST and save the file in the folder
# regions = trim_dis_regions(al_blast, id_dis, start_regions, end_regions)

# # Look at the resulting regions in an alignment
# seqs = get_seqs(regions)
# print(id_dis, seqs.shape, type(seqs))
# seqs[:10]

### 1.5.1 Define disordered regions for the redundant MSAs

In [14]:
# Split the disordered regions with the select_dis_regions function
output_directory = f"{directory}/results/alignments/output_files/disordered"
separate_disordered_regions = select_dis_regions(al_blast, id_dis, start_regions, end_regions, output_directory)

# if there is more than 1 region
dis_seqs = print_dis_seqs(output_directory, 'disordered', id_dis)
# %store dis_seqs
if isinstance(dis_seqs, list):  # Check if dis_seqs is a list of several disordered regions
    print(id_dis, dis_seqs[0].shape, type(dis_seqs[0]))
    print(id_dis, dis_seqs[1].shape, type(dis_seqs[1]))
else: # if dis_seqs consists of one disordered region only
    print(id_dis, dis_seqs.shape, type(dis_seqs))

Q9H832 (201, 28) <class 'numpy.ndarray'>
Q9H832 (201, 99) <class 'numpy.ndarray'>

In [15]:
# Calculation of occupancy and entropy
if isinstance(dis_seqs, list):
    dis_calc0 = stats_calculation(dis_seqs[0])
    dis_calc1 = stats_calculation(dis_seqs[0])
    %store dis_calc0 dis_calc1
else:
    dis_calc = stats_calculation(dis_seqs)
    %store dis_calc

Stored 'dis_calc0' (DataFrame)
Stored 'dis_calc1' (DataFrame)

In [42]:
# # Trim disordered regions from MSA BLAST and save the file in the folder
# regions = trim_dis_regions(non_redundant, id_dis, start_regions, end_regions)

# # Look at the resulting regions in an alignment
# nr_dis_seqs = get_seqs(regions)
# print(id_dis, nr_dis_seqs.shape, type(nr_dis_seqs))
# nr_dis_seqs

### 1.5.2 Define disordered regions for the non-redundant MSAs

In [43]:
# Split the disordered regions with the help of select_dis_regions function
output_directory = f"{directory}/results/alignments/output_files/disordered/non-redundant"
separate_disordered_regions = select_dis_regions(non_redundant, id_dis, start_regions, end_regions, output_directory)

# if there are more than 1 region
dis_seqs_nr = print_dis_seqs(output_directory, 'disordered', id_dis)
# %store dis_seqs
if isinstance(dis_seqs, list):  # Check if dis_seqs is a list of several disordered regions
    print(id_dis, dis_seqs_nr[0].shape, type(dis_seqs_nr[0]))
    print(id_dis, dis_seqs_nr[1].shape, type(dis_seqs_nr[1]))
else: # if dis_seqs consists of one disordered region only
    print(id_dis, dis_seqs_nr.shape, type(dis_seqs_nr))

Q9H832 (3, 28) <class 'numpy.ndarray'>
Q9H832 (3, 99) <class 'numpy.ndarray'>

In [44]:
# Calculation of occupancy and entropy
if isinstance(dis_seqs, list):
    dis_calc_nr0 = stats_calculation(dis_seqs_nr[0])
    dis_calc_nr1 = stats_calculation(dis_seqs_nr[0])
    %store dis_calc_nr0 dis_calc_nr1
else:
    dis_calc_nr = stats_calculation(dis_seqs_nr)
    %store dis_calc_nr

Stored 'dis_calc_nr0' (DataFrame)
Stored 'dis_calc_nr1' (DataFrame)